*.pyc
/.vs/
/output 
/output/
/logs/
/wandb
/wandb/
wandb

.DS_Store

.idea
/.idea/
/.idea
*/__pycache__

__pycache__
/__pycache__
/.vscode
.vscode

.csv 
*.csv 

.python-version
pyrightconfig.json
*/output/ 

RL/ 
*/trajectory/ 
*/logs/ 
*/taubench/ 
*/taubench 

/backup_data/ 
*/backup_data/ 

/backup_scripts/
*/backup_scripts/
